
<ion-app>
  <ion-menu side="start" menuId="first" contentId="main" [hidden]="!showMenu">
    <ion-header>
     
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item><a (click)="logout()" href="javascript:;">Logout</a></ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main">
    <ion-header [translucent]="true">
      <ion-toolbar >
        <ion-buttons slot="start" [hidden]="!showMenu">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
      
    </ion-header>
    <ion-content>
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>
</ion-app>
